<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Library</title>
  </head>
  <body>
    <div class="heading-cont"><h1>Matt's Library</h1></div>
    <div class="sign-in-landing-cont"><a href="/signin">Sign In</a></div>
    <h2>{{data.courseCode}}</h2>
  </body>
</html>